body{	
	background: #fffff0;
	
}

.padre{
	border: 1px solid #000000;
}

.container{
	background: #ffffff;
	margin: 0 auto;
	width: 69%;

	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-color: #AEAEAE;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	
}

.bloque1 {
	border: 0px solid #000000;
	margin: 5px;
}

.bloque1 p{
	border: 0px solid #000000;
	margin: 0;
	padding: 0px;
	display: inline;
}

.bloque1 img{
	border:3px solid #E6E5E3;
}

p.name{
	color: #000000;
	font-family: Calibri, Arial, Helvetica, san-serif;
	font-weight: bold;
	font-size: 2em; 
}
p.profesion{
	color: #45A7DE;
	font-family: Calibri, Arial, Helvetica, san-serif;
	font-size: 1.5em/*25px*/;
}

td.column1{
	text-align: right;
	font-weight: bold;
	font-family: Calibri, Arial;
}

td.column2{
	color: #373737;
	font-family: Calibri, Arial;
}

p.parrafos{
	color: #373737;
	padding: 0px;
}


.container2{
	background: #ffffff;
	margin: 0 auto;
	width: 69%;
	height: 900px;
	
	border: 1px solid #000000;
	border-color: #AEAEAE;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	
}

.contdescrip{
	border: 0px solid #000000;
	background: #ffffff;
	display: flex;
	padding: 0px;
	flex-direction: column;


/*Div del icono de la flecha hacia abajo*/
}


.imagenFlecha{
	border: 0px solid #000000;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;	 
	width: 635px;
	display: flex;
	align-items: flex-start;
}

.imagenFlecha img{
	width: 35px;
	height: 35px;
	padding: 0px;
	margin: 0px;
	border: 0px solid #000000;
}

.imagenFlecha2 img{
	width: 35px;
	height: 35px;
	padding: 0px;
	margin: 0px;
	border: 0px solid #000000;
}






.imagenFlecha div{
	border: 0px solid #000000;
	width: 600px;
	height: 33px;
	background: #373737;
}

.imagenFlecha div p{
	border: 0px solid #000000;
	margin: 5px;
	font-family: Calibri, Arial;
	font-weight: bold;
	color: #ffffff;

}

/*Div del subtema Employment*/
.informacion{
	border: 0px solid #000000;
	width: 635px;
	height: 200px;
}

.seccion1{
	border: 0px solid #000000;
	width: 635px;
	height: 43px;
	display: flex;
	flex-direction: row;
}

.seccion1 img{
	border: 0px solid #000000;
	width: 20px;
	height: 20px;
	padding-top: 16px;
	padding-left: 2px;

}




.seccion1 p{
	border: 0px solid #000000;
	width: 400px;
	height: 25px;
	margin-top: 15px;
	margin-left: 5px;
	font-weight: bold;
	font-family: Calibri, Arial;
	font-size: 20px;
}

.fecha{
	border: 0px solid #000000;
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}

.fecha p{
	border: 0px solid #000000;
	width: 120px;
	height: 20px;
	color: #A8A9A4;

}

.seccion2{
	border: 0px solid #000000;
	width: 633px;
	height: 25px;
}

.seccion2 p{
	border: 0px solid #000000;
	margin-top: 0px;
	margin-left: 30px;
	width: 400px;
	color: #A8A9A4;
}

.seccion3{
	border: 0px solid #000000;
	
}

.seccion3 p{
	margin-left: 4px;
}





/*Div de el subtema  PROGRAMMING*/
.estadist{
	border: 0px solid #000000;
	padding-top: 0;
	padding-right: 0;
	padding-left: 15px;
	margin-top: 0;
	width: 250px;
	display: flex;
	flex-direction: column;
}

.estadist p{
	font-family: Arial, Calibri;
	color: #000000;	
	font-weight: bold;
	padding-left: 15px;

}
.lenguajes{
	border: 0px solid #000000;
	font-size: 13px;
	width: 200px;
}

.lenguajes p{
	border: 0px solid #000000;
	padding-left: 0;

}

.word, .php, .html, .css, .sql{
	border: 0px solid #000000;
	font-weight: bold;
	color: #ffffff;
}

div.word{
	background: #2C7EA4;
	width: 200px;
	display: flex;
	justify-content: flex-end;	

}
.barra{
	background: #E5E5E5;
	width: 20px;
}

div.php{
	background: #44A5D2;
	width: 200px;
	display: flex;
	justify-content: flex-end;

}
.barra2{
	
	background: #E5E5E5;
	width: 40px;
}

div.html{
	background: #69A333;
	width: 200px;
	display: flex;
	justify-content: flex-end;
}

.barra3{
	
	background: #E5E5E5;
	width: 10px;
}

div.css{
	background: #FFBD26;
	width: 200px;
	display: flex;
	justify-content: flex-end;
}

.barra4{
	
	background: #E5E5E5;
	width: 40px;
}

div.sql{
	background: #EC2D01;
	width: 200px;
	display: flex;
	justify-content: flex-end;
}

.barra5{	
	background: #E5E5E5;
	width: 80px;
}

.space{
	border: 0px solid #000000;
	width: 215px;
	height: 40px;
}

.graphic1{
	border: 0px solid #00000f;
	background: #ffffff;
	width: 215px;
	height: 25px;
	font-size: 12px;
	padding-left: 15px;
	display: flex;
	flex-wrap: wrap;
	
	
}

.cuadrado1, .cuadrado2, .cuadrado3, .cuadrado4, .cuadrado5{
	border: 0px solid #000000;
	margin: 3px;
	padding-top: 2px;
	border-bottom: 1px;
	width: 10px;
	height: 11px;
	display: flex;
	
}

.cuadrado1{
	background: #2C7EA4;
}

.cuadrado2{
	background: #44A5D2;
}

.cuadrado3{
	background: #69A333;
}

.cuadrado4{
	background: #FFBD26;

}

.cuadrado5{
	background: #EC2D01;

}

.c1{
	border: 0px solid #0000ff;
	height: 20px;
	display: flex;
	padding-bottom: 0px;

}
.c1 p{
	border: 0px solid #000000;
	margin: 2px;
	padding: 0;
}

.container3{
	border: 0px solid #000000;
	display: flex;
	flex-wrap: wrap;
}

.circulo1, .circulo2, .circulo3, .circulob{
	border: 0px solid #000000;
	padding-top: 2px;
	padding-left: 1px;
	border-bottom: 1px;
	margin: 1px;

	width: 15px;
	height: 15px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	display: flex;

	
}

.circulo1{
	background: #44A5D2;
}

.circulo2{
	background: #FFBD26;
}

.circulo3{
	background: #69A333;

}
.circulob{
	background: #ffffff;
	border: 1px solid #AEAEAE;

}









